@import "tailwindcss";

body {
    background-color: #0f2015;
    color: white;
    /* efficient default for dark mode */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(16px) scale(0.97);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}